body {
  width: 100vw;
  background-color: #151313;
}

.master {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.test-text{
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}